/* Cores
    background: 423E6D
*/
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
#slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #1F1F22;
}
img{
    opacity: 0;
    position: absolute;
    object-fit: contain;
    transition: 4s;
    width: 100%;

}

img.selected{
    opacity: 1;
}



